/* ================================== */
/* ====  CHS CODECAMP TEMPLATE  ===== */
/* ================================== */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Reg.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Reg.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Reg.ttf') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Reg.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bol.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bol.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Bol.ttf') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Bol.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Bol.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoItalic';
  src: url('../fonts/Lato-RegIta.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-RegIta.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-RegIta.ttf') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-RegIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-RegIta.ttf') format('svg'); /* Legacy iOS */
}


/* slide template */

html { height: 100%; }
body { background: #eee url("../images/body_background.png"); height: 100%; }
hr { width: 150px; margin: 0 auto 15px auto; height: 0; border: 0; border-top: 3px solid #bbb; }
div.header_wrapper { width: 100%; height: 90px; background: #eee url("../images/header_background.png"); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); margin-bottom: 50px; }
img.logo { margin-left: -5px; float: left; margin-top: 5px; }
p.deck-status span { text-shadow: 1px 1px 1px #fff; font-size: 12px; }
div.header_wrapper h1 { width: 75%; margin: 0 auto; text-align: right; text-transform: uppercase; padding-top: 55px; font-size: 16px; color: #888; font-style: italic; }
section.content { width: 950px; margin: 0 auto;   min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px;  }
footer.footer { margin-top: 50px; height: 60px; float: left; background-color: #465966; width: 100%; border-top: solid 10px #fff; }
div.copyright h3 { color: #f1f1f1; text-align: left; margin-top: 26px; text-transform: uppercase; float: left; font-size: 10px; font-family: Lato; margin-left: 620px; }
div.copyright { width: 950px; margin: 0 auto; text-align: right; }
img.cdc_logo { margin-top: 12px; }


/* theme */

section.index_content { width: 950px; margin: 0 auto;   min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px; }
header.index_header { width: 100%; background: #eee url("../images/header_background.png"); height: 90px;  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
div.index_header_wrapper { width: 950px; margin: 0 auto; text-align: center; }
img.index_logo { margin-top: 5px; }
ul.header_left_nav { width: 475px; position: absolute; }
ul.header_right_nav { width: 475px; position: absolute; margin-left: 475px; padding-left: 125px; } 
ul.header_left_nav li { padding-bottom: 5px; cursor: pointer; float: left; text-align: left; margin-top: 45px; margin-right: 75px; font-family: LatoBold; text-transform: uppercase; font-size: 10.5pt; color: #777; }
ul.header_right_nav li { padding-bottom: 5px; cursor: pointer; margin-top: 45px; font-family: LatoBold; text-transform: uppercase; font-size: 10.5pt; color: #777; float: left; text-align: left; margin-right: 37px; }
ul.header_left_nav li a { transition: all 0.15s linear; -o-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; color: #777;}
ul.header_right_nav li a { transition: all 0.15s linear; -o-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; color: #777;}
ul.header_left_nav li:hover a { transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -webkit-transition: all 0.15s ease; color: #111; }
ul.header_left_nav li:hover { border-bottom: solid 5px #ccc; }
ul.header_right_nav li:hover { border-bottom: solid 5px #ccc; }
ul.header_right_nav li:hover a { transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -webkit-transition: all 0.15s ease; color: #111; }
div.index_content { width: 100%; min-height: 900px; margin-top: 100px; background-color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); } 
h2.course_title { margin-top: 100px; width: 100%; text-align: center; font-family: LatoItalic; font-size: 50px; text-shadow: 1px 1px 1px #fff; }
ul.folder_list { width: 950px; margin: 0 auto; padding-top: 100px; }
ul.folder_list li { transition: all 0.15s linear; -o-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; cursor: pointer; width: 100px; height: 100px; float: left; margin-right: 70px; margin-left: 70px; border-radius: 50px; background-color: #777; text-align: center; }
ul.folder_list li:hover { transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -webkit-transition: all 0.15s ease; background-color: #ccc; }
ul.folder_list li:hover span { transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -webkit-transition: all 0.15s ease; color: #111; }
ul.folder_list li.last_bubble { margin-right: 0px; }
ul.folder_list li span { transition: all 0.15s linear; -o-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; color: #fff; font-family: 'Lato'; font-size: 14px; display: inline-block; margin-top: 42px; }
li.active_link { border-bottom: solid 5px #ccc; }
li.active_link a { color: #111 !important; }
div.index_left_content { float: left; background-color: #fff; width: 48%; min-height: 350px; margin: 65px 0 0 2px; text-align: center; padding-bottom: 10px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
div.index_right_content { float: right; background-color: #fff; width: 48%; min-height: 350px; margin: 65px 2px 0 0; text-align: center; padding-bottom: 10px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
div.index_bottom_content { float:left; background-color: #fff; width: 946px; min-height: 300px; margin: 35px 0 75px 2px; text-align: center; padding-bottom: 10px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
p.content_text { font-family: "Lato","Arial Black","Arial Bold",sans-serif; width: 85%; margin: 0 auto 20px auto; font-size: 12pt; line-height: 1.4em; color: #777; margin-top: 15px; }
a.read_more { transition: all 0.15s linear; -o-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; padding-left: 15px; position: relative; width: 100%; text-align: center; font-family: Lato; font-size: 14px; color: #00afdc; }
a.read_more:hover { transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -webkit-transition: all 0.15s ease; color: #555; }
h2.content_title { margin: 25px 0 20px 0; font-family: LatoBold; font-size: 18pt; font-weight: 900; }


/* screencasts */

ul.video_nav { width: 200px; float: left; margin-top: 40px; font-family: Lato; font-size: 20px; }
li.video_link { transition: all 0.15s linear; -o-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; margin-top: 15px; cursor: pointer; }
li.video_link:hover { transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -webkit-transition: all 0.15s ease; color: #999; text-shadow: 1px 1px 1px #fff; }
div.video_container { width: 580px; float: left; margin-top: 40px; text-align: center; padding-top: 15px; padding-bottom: 10px; }
div.video_container iframe { -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); border: solid 10px #fff;  width: 725px; height: 475px; }
li.active_video { color: #999; }

/* assignments */

ul.assignments { margin-top: 40px; width: 200px; float: left; font-size: 20px; font-family: Lato; }
div.assignment_content { margin-top: 55px; width: 675px; float: right; background-color: #fff; min-height: 75px; padding: 15px 15px 5px 15px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
li.assignment { transition: all 0.15s linear; -o-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; cursor: pointer; margin-top: 15px; }
li.assignment:hover { transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -webkit-transition: all 0.15s ease; color: #999; }
div.assignment_text { display: none; font-family: Lato; width: 95%; margin: 0 auto 0px auto; font-size: 12pt; line-height: 1.4em; color: #777; }
p.assignment_box_details { margin-bottom: 15px; }
div.active_assignment { display: block; }
li.active_assignment_link { color: #999 !important; }

